
.EnrollForm {
    padding: 10px;
    border: 1px;
}
.AddTeacher {
    padding: 10px;
}
.AddClass {
    padding: 10px;
}

#form {
    padding-top: 10px;
}

#form input {
    height: 32px;
    border: 1;
    border-radius: 10px;
    width: 400px;
}

#form button {
    height: 32px;
    border: 1;
    border-radius: 10px;
}