
.Classes {
    display: inline-block;
}

.ClassBody {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 20px;
    vertical-align: top;
    
}

#card {
    width: 300px;
}

#card button {
    width: 80px;
    font-size: 12px;
    
}